# IDE
.idea

# OS
.DS_Store

# Environment normalization
.env

# Test coverage (spec) directory
/coverage/
/spec/tmp

# Ruby
*.rbc
*.gem
*.orig
.rvmrc

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

