---

postgres: 
  db:
      host: "localhost"
      port: "5432"
      database: "postgres"
      user: "root"
      password: ""

s3:
  access_key_id: "key"
  secret_access_key: "key"
  endpoint: "https://account_id.r2.cloudflarestorage.com"
  bucket: "postgres"
  region: "auto"

mailgun:
  from: "no-reply@www.example.com"
  to: "you@example.com"
  domain: "www.example.com"
  api_key: "key"
  mailgun_domain: "api.eu.mailgun.net"
  
pushover:
  app_token: "key"
  user_key: "key"
  
discord:
  webhook: "https://discord.com/api/webhooks/123/123"
 